* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
}

.padding {
    display: block;
    padding: 30px;
    width: 100%;
    background-color: #0000FF;
    box-sizing: border-box;
}

.text-footer-header {
    font-size: 25px;
    line-height: 29px;
    color: #fff;
}


.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 20px;
}

.padding-border {
    width: 100%;
    padding: 40px;
    border: 5px solid #000;
    box-sizing: border-box;
    text-align: center;
    margin: 5px;
}

.content > p {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
}

/* Макет для десктопа */
@media (min-width: 800px) {
   
    .padding-border {
        width: 45%;
    }
}

